@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-bgDark font-sans
}

html {
    --web-font-smoothing: antialiased;
}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px #00B37E;
}

/* Para fazer o botão ficar visível somente quando o focus estiver no textarea */

.comentForm footer {
    visibility: hidden;
    max-height: 0;
}

.comentForm:focus-within footer {
    visibility: visible;
    max-height: none;
}



/* cor {
    color: rgb(72, 72, 75);
} */